body{
    background-color: hsl(216, 50%, 16%);
    justify-content: center;
}

.Card-layout{
    background-color: hsl(217, 54%, 25%);
    width: 230px;
    height: 399px;
    border-radius: 10px;
    box-shadow: 0.5px 20px 0px 10px hsl(217, 54%, 14%),
    3px 25px 3px 40px rgba(0,0,0,0.05),
    0px 0px 20px 5px rgba(0,0,0,0.15)
    ;
}

.image-layout{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 16px 0 0 15px;
}
.main-heading{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    margin-left: 15px;
}

.P-first{
    color: hsl(215, 51%, 70%);
    font-size: 12px;
    margin-left: 15px;
}

.left-layout{
    display: flex;
    align-items: center;
    margin-top: -8px;
}

.left-layout img{
    height: 13px;
    width: 8px;
    margin-left: 15px;
}

.P-second{
    color: hsl(178, 100%, 50%);
    font-size: 10px;
    margin-left: 4px;

}

.right-side{
    display: flex;
}

.right-side img{
    height: 12px;
    width: 12px;
    padding-left: 57px;
    margin-top: 13px;

}

.right-side p{
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    font-size: 11px;
    padding-left: 4px;
}

.footer img{
    width: 20px;
    height: 20px;
    margin: 15px 0 0 15px ;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.footer{
    font-size: 5px;
}

.line{
    height: 1px;
    background-color: hsl(215, 32%, 35%); 
    width: 190px;
    margin: 5px 0 0 19px;
}

.footer-text{
    color: hsl(215, 51%, 70%);
    font-size: 12px;
    margin: -24px 0 0 50px;
    font-size: 10px;
}

.footer-text span{
    color: hsl(0, 0%, 100%);
}

@media (max-width: 768px) {
    body{
    width: 50%;
    height: auto;
    }
  }